@model QuanLyThietBi.Models.SANPHAM

@{
    ViewBag.Title = "Sua_SP";
    Layout = "~/Views/LayoutQuanLy.cshtml";
}



<div class="container">
    <div class="row">
        <p style="font-size: 15px">Sửa thông tin sản phẩm @Model.TENSP</p>
    </div>
    <div class="row">
        @Html.ActionLink("Trở về trang chủ", "Index_QL")
    </div>

    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <div class="editor-label">
                    Tên sản phẩm
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TENSP)
                    @Html.ValidationMessageFor(model => model.TENSP)
                </div>

                <div class="editor-label">
                    Mô tả
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MOTA)
                    @Html.ValidationMessageFor(model => model.MOTA)
                </div>

                <div class="editor-label">
                    Hình sản phẩm
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.HINHSANPHAM)
                    @Html.ValidationMessageFor(model => model.HINHSANPHAM)
                </div>

                <div class="editor-label">
                    Giá bán
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.GIABAN)
                    @Html.ValidationMessageFor(model => model.GIABAN)
                </div>

                <div class="editor-label">
                    Số lượng
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SOLUONG)
                    @Html.ValidationMessageFor(model => model.SOLUONG)
                </div>

                <div class="editor-label">
                    Mã loại sản phẩm
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MALSP)
                    @Html.ValidationMessageFor(model => model.MALSP)
                </div>

                <div class="editor-label">
                    Mã nước xuất khẩu
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MANXX)
                    @Html.ValidationMessageFor(model => model.MANXX)
                </div>

                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }

    </div>
</div>



